<footer class="footer container">
	<div class="icons-row">
		<a href="https://twitter.com/MateoClarke">
			<svg class="icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
		</a>		
		<a href="https://github.com/MateoClarke">
			<svg class="icon-github"><use xlink:href="#icon-github"></use></svg>
		</a>		
		<a href="mailto:code@mateoclarke.com">
			<svg class="icon-mail"><use xlink:href="#icon-mail"></use></svg>
		</a>
	</div>
  <small>
    &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
  </small>
</footer>