---
layout: page
page_name: work
title: Work
hero: public/images/rivera-northwall.jpg
hero_desc: Diego Rivera's Detroit Industry
---

<!-- <div class="work-status">
	<h2>I'm employed full-time.</h2>
	<a href="https://s3.amazonaws.com/maker_square/uploads/user/resume/59/MateoClarke-Resume.pdf" role="button" class="btn btn-success">View my Resume</a>
</div> -->

<section class="work-entries">
	{% for post in site.categories['work'] %}
	<article class="work-teaser {%cycle 'left', 'right'%}">
		<header>
			<h2 class="work-title">{{post.title}}</h2>
			<h3 class="work-type">{{post.type}}</h3>
			{% if post.site_url %}
				<a class="work-link icon-web" href="{{post.site_url}}">
					<span>View <svg class="icon-link"><use xlink:href="#icon-link"></use></svg></span>
				</a>
			{% endif %}
		</header>
		<figure class="responsive-site">
		    <img src="/public/images/{{post.image}}" alt="{{post.title}} screenshot"/>
		</figure>
		{{post.content}}
	</article>
	{% endfor %}
</section>